canvas {
	border: 10px inset #abcdef;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: rgba(210,234,243,0.3);
	outline: dotted white;
}

h1,p {
	font-size: 30px;
	font-family: "Thrones", garamond, serif;
	color: white;
	text-shadow: 2px 2px black;
}

h1 {
	font-size: 100px;
	font-family: "Billy", garamond, serif;
}

@font-face {
    font-family: Billy;
    src: url("bf.ttf") format("opentype");
}

@font-face {
    font-family: Thrones;
    src: url("Thrones.ttf") format("opentype");
}
